<footer class="footer-area mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="">
                    <h4><a href="/about">About Us</a></h4>
                    <p class="footer-text text-white">Copyright &copy; All rights reserved.<br>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div>
                    <h4>Made by:</h4>
                    <p class="text-white">Ronak Asnani</p>
                    <p class="text-white">Kevin Bhavsar</p>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <h4 class="text-white font-weight-bold">Contact us</h4>
                    <p class="text-white"><i class="fa fa-phone text-white"></i> +91-9680-544-762</p>
                   
            </div>
        </div>

    </div>
</footer>
