<h1 style="text-align: center; color:royalblue; padding-top: 20px;">About Us</h1>

<main role="main">

    <div class="container mt-5">
      <article>

        <div class="row shadow rounded p-3">
          <div class="col-md-8 pl-3">
            <p>We here at CareerGuide aim to provide opportunity to anyone who wants to explore a field and neet guidance or someone who wants to prvide guidance to others and aslo improve their leadership and mentoring skills. This platform help students and mentors meet each other and get or give guidance in a very simple way.</p>
           
          </div>
          <div class="col-md-4 d-flex justify-content-center"> <img src="/images/careerguide-placement-agency-squarelogo-1567117164142.png" class="img-fluid">
          </div>
        </div>

      </article>
    </div>

   <!-- <-- <section>

            <h1 style="text-align: center; padding-top: 40px;">Team</h1>

        <div class="row">
            
                <div style="padding-left: 20%;" class="col-lg-3 col-md-3 col-sm-3">
                    <div  class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img class="image" src="/images/ewc.jpg" alt="Avatar" style="width:300px;height:300px;">
                          <h2 style="text-align: center; color: wheat;">NAME</h2>
                        </div>
                        <div class="flip-card-back">
                            <h3  style="text-align: center;"></h3>>Web developer</h3>
                            <a  style="text-align: center;"href="#" class="fa fa-linkedin"></a>
                        </div>
                      </div>
                    </div>
                </div>
                  <div style="padding-left: 20%;" class="col-lg-3 col-md-3 col-sm-3">
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img class="image" src="/images/ewc.jpg" alt="Avatar" style="width:300px;height:300px;">
                          <h2 style="text-align: center; color: wheat;">NAME</h2>
                        </div>
                        <div class="flip-card-back">
                          <h3  style="text-align: center;"></h3>>Web developer</h3>
                          <a  style="text-align: center;"href="#" class="fa fa-linkedin"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="padding-left: 20%;" class="col-lg-3 col-md-3 col-sm-3">
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img class="image" src="/images/ewc.jpg" alt="Avatar" style="width:300px;height:300px;">
                          <h2 style="text-align: center; color: wheat;">NAME</h2>
                        </div>
                        <div class="flip-card-back">
                          <h3  style="text-align: center;"></h3>>Web developer</h3>
                          <a  style="text-align: center;"  href="#" class="fa fa-linkedin"></a>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </section> --> -->