<h1 style="text-align: center; color:royalblue; padding-top: 20px;">About Us</h1>

<main role="main">

    <div class="container mt-5">
      <article>

        <div class="row shadow rounded p-3">
          <div class="col-md-8 pl-3">
            <p>Contrary to popular belief, Lorem Ipsum is not simply 
                random text. It has roots in a piece of classical Latin
                 literature from 45 BC, making it over 2000 years old.
                  Richard McClintock, a Latin professor at Hampden-Sydney
                   College in Virginia, looked up one of the more obscure
                    Latin words, consectetur, from a Lorem Ipsum passage,
                     and going through the cites of the word in classical 
                     literature, discovered the undoubtable source. Lorem Ipsum
                      comes from sections 1.10.32 and 1.10.33 of "de Finibus 
                      Bonorum et Malorum" (The Extremes of Good and Evil) by
                       Cicero, written in 45 BC. This book is a treatise on the 
                       theory of ethics, very popular during the Renaissance.
                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit 
                        amet..", comes from a line in section 1.10.32.</p>
           
          </div>
          <div class="col-md-4 d-flex justify-content-center"> <img src="/images/ewc.jpg" class="img-fluid">
          </div>
        </div>

      </article>
    </div>

    <section>

            <h1 style="text-align: center; padding-top: 40px;">Team</h1>

        <div class="row">
            
                <div style="padding-left: 20%;" class="col-lg-3 col-md-3 col-sm-3">
                    <div  class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img class="image" src="/images/ewc.jpg" alt="Avatar" style="width:300px;height:300px;">
                          <h2 style="text-align: center; color: wheat;">NAME</h2>
                        </div>
                        <div class="flip-card-back">
                            <h3  style="text-align: center;"></h3>>Web developer</h3>
                            <a  style="text-align: center;"href="#" class="fa fa-linkedin"></a>
                        </div>
                      </div>
                    </div>
                </div>
                  <div style="padding-left: 20%;" class="col-lg-3 col-md-3 col-sm-3">
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img class="image" src="/images/ewc.jpg" alt="Avatar" style="width:300px;height:300px;">
                          <h2 style="text-align: center; color: wheat;">NAME</h2>
                        </div>
                        <div class="flip-card-back">
                          <h3  style="text-align: center;"></h3>>Web developer</h3>
                          <a  style="text-align: center;"href="#" class="fa fa-linkedin"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="padding-left: 20%;" class="col-lg-3 col-md-3 col-sm-3">
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img class="image" src="/images/ewc.jpg" alt="Avatar" style="width:300px;height:300px;">
                          <h2 style="text-align: center; color: wheat;">NAME</h2>
                        </div>
                        <div class="flip-card-back">
                          <h3  style="text-align: center;"></h3>>Web developer</h3>
                          <a  style="text-align: center;"  href="#" class="fa fa-linkedin"></a>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </section>