<main role="main">
    <div class="container">

        <section class="m-4">
            <div class="my-5" style="text-align: center;">
                <h1 style="font-size: 42px;"><b>Choose Your Industry From:</b></h1>
            </div>
            <div style="padding: 0;" class="container">
                <!-- <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 pb-5 event-card">
                        <div class="event">
                            <div class="card event-details" style="width: 100%">
                                <img class="card-img-top event-img" src="./ewc.jpg" alt="Card image cap">
                                
                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Coding</b></h3>
                                    <p class="event-card-text">cercvdscsdvdv
                                    </p>
                                    <a href="login.html" target="_blank" class="btn btn-primary">Get started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                        <div class="event">
                            <div class="card event-details" style="width: 100%">
                                <img class="card-img-top event-img" src="./ewc.jpg" alt="Card image cap">
                                
                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Finance</b></h3>
                                    <p class="card-text">ihunefirnvoinov </p>
                                    <a href="login.html" target="_blank" class="btn btn-primary">Get started</a>
                                </div>
                            </div>
                        </div>
                    </div> -->

            </div>
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 event-card jakass-flip">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">
                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>Web development</b></h3>
                                <img class="card-img-top event-img" style="object-fit:cover"
                                    src="https://1xqdqy285sk7212bfiejcprr-wpengine.netdna-ssl.com/wp-content/uploads/2017/12/Web-Development-Company-USA.jpg" alt="Card image cap">
                                    
                                <div style="background-color: blue; text-align: center; " class="carde-body">
                                    <h3><b>Web development</b></h3>

                                </div>
                            </div>

                            <div class="back">
                                <h3><b>Web Development</b></h3>
                                <p class="card-text">Design cool websites and make them work according to you </p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">
                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>Android Development</b></h3>
                                <img class="card-img-top event-img"
                                    src="https://www.openxcell.com/wp-content/uploads/2020/12/mobile-app-development-guide-scaled.jpg" alt="Card image cap">

                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Android Development</b></h3>
                                </div>
                            </div>
                            <div class="back">
                                <h3><b>Android Development</b></h3>
                                <p class="card-text">Make android apps</p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">
                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>Competitive Programming</b></h3>
                                <img class="card-img-top event-img"
                                    src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20191004160106/How-to-Prepare-for-Competitive-Programming.png" alt="Card image cap">

                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Competitive Programming</b></h3>

                                </div>
                            </div>


                            <div class="back">
                                <h3><b>Competitive Programming</b></h3>
                                <p class="card-text">Problem solving and aptitude based  </p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">

                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>Machine Learning</b></h3>
                                <img class="card-img-top event-img" src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1129869424%2F0x0.jpg%3Ffit%3Dscale"
                                    alt="Card image cap">

                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Machine Learning</b></h3>

                                </div>

                            </div>

                            <div class="back">
                                <h3><b>Machine Learning</b></h3>
                                <p class="card-text">Method of data analysis that automates analytical model building. </p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">
                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>Data Analytics</b></h3>
                                <img class="card-img-top event-img"
                                    src="https://www.personneltoday.com/wp-content/uploads/sites/8/2020/05/hr-data-analytics-shutterstock_1506392819.jpg" alt="Card image cap">

                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Data Analytics</b></h3>

                                </div>
                            </div>

                            <div class="back">
                                <h3><b>Data Analytics</b></h3>

                                <p class="card-text"> Typical analyze raw data for insights and trends </p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">
                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>Finance</b></h3>
                                <img class="card-img-top event-img"
                                    src="http://guildit.org/wp-content/uploads/2020/04/Financial-Metrics-for-NFP-Boards.png" alt="Card image cap">

                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Finance</b></h3>

                                </div>
                            </div>

                            <div class="back">
                                <h3><b>Finance</b></h3>

                                <p class="card-text"> Basically, finance represents money management and the process of acquiring needed funds. </p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>


            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">
                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>MBA</b></h3>
                                <img class="card-img-top event-img"
                                    src="https://www.soil.edu.in/wp-content/uploads/2015/09/blog-What-is-MBA.jpg" alt="Card image cap">

                                <div style="text-align: center; " class="card-body">
                                    <h3><b>MBA</b></h3>

                                </div>
                            </div>

                            <div class="back">
                                <h3><b>MBA</b></h3>

                                <p class="card-text"> Offer one of the most versatile, enriching qualifications within the business world. </p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 event-card">
                    <div class="event">
                        <div class="carde event-details" style="width: 100%">
                            <div class="front">
                                <h3 style="text-align: center; border: 1px solid black; margin-bottom: 0;"><b>Music</b></h3>
                                <img class="card-img-top event-img"
                                    src="https://media.edutopia.org/styles/responsive_2880px_16x9/s3/masters/d7_images/cover_media/alegria-169hero-music-shutterstock.jpg" alt="Card image cap">

                                <div style="text-align: center; " class="card-body">
                                    <h3><b>Music</b></h3>

                                </div>
                            </div>

                            <div class="back">
                                <h3><b>Music</b></h3>

                                <p class="card-text">  Art of sound in time that expresses ideas and emotions in significant forms through the elements of rhythm, melody, harmony, and color.  </p>
                                <a href="/users/sign-up" target="_blank" class="btn btn-primary">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



    </div>
    </div>


    </div>



    </div>
    </section>





    </div>
</main>
