<h1 style="margin-top: 100px; color:grey; text-align: center;">Please continue to know your result</h1>

<form style="display: flex; justify-content: space-around;" action="/users/verify-mentor" method="POST">
  <input style="
    display: flex;
    margin: 30px 0px 140px 0px;
    background-color: #3194db;
    color: white;
    justify-content: space-around;
  " type="submit" value="next">
</form>