<head>
  <style>
    #signin-form{
      display: inline-flex;
      justify-content: space-around;
      height: max-content;
      width: max-content;
      box-shadow: 0px 5px 20px 3px black;
      padding: 50px;
      margin-left: 600px;
      margin-top: 30px;
    }
    .form-group{
      margin: 5px;
      padding: 5px;
    }

  </style>
</head>

<div id="signin-form">
<form action="/users/create" method="POST">
    <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" required>
       
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email" required>
    </div>
    <div>
      <label for="optradio">Select your field</label>
      <div class="radio">
        <label><input type="radio" value="student" name="field" >Student</label>
      </div>
      <div class="radio">
        <label><input type="radio" value="mentor" name="field">Mentor</label>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" name="confirm_password" placeholder="Confirm your  Password" required>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>